*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen
.kitchen.local.yml

# JetBrains template
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
.idea
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Linux template
.directory
.Trash-*

# Mac OS
.DS_Store
.localized

# Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

Dockerfile-kitchen*
#/test/data_bags/users/levon.json
/templates/default/confd/*.erb
*.tgz
*.tar.gz

# bonusbits_mediawiki_nginx
/test/environments/ec2_environment.json
/tmp/
/test/data_bags/bonusbits_mediawiki_nginx/bonusbits_dev.json
/test/data_bags/bonusbits_mediawiki_nginx/bonusbits_prd_decrypted.json
